<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <%= render 'users/info', user: @menu.user %>
      <h2 class="mt-3">今日のごはん</h2>
      <%= render 'form', menu: Menu.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>詳細</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@menu.user) do %>
          <% if @menu.image.attached? %>
              <%= image_tag @menu.image, size:"100x100" %><br>
          　<% else %>
              <%= image_tag 'no_image', size:"100x100" %><br>
            <% end %>
            <%= @menu.user.name %>
            <% end %>
          </td>
          <td><%= link_to @menu.title, @menu %></td>
          <td><%= @menu.body %></td>
          <td>コメント数: <%= @menu.menu_comments.count %></td>
          <td><%= render "favorites/btn", menu: @menu %></td>
          <% if @menu.user == current_user %>
            <td><%= link_to '変更', edit_menu_path(@menu), class: "btn btn-sm btn-success edit_menu_#{@menu.id}" %></td>
            <td><%= link_to '削除', @menu, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_menu_#{@menu.id}"%></td>
          <% end %>
        </tr>
      </table>

      <%= render "menu_comments/index", menu: @menu %>
      <%= render "menu_comments/form", menu: @menu, menu_comment: @menu_comment %>

    </div>
  </div>
</div>